.CodeMirror {
    height: 600px;
}
.cm-header{
    font-size: 20px;
}
.cm-error{
    font-size: 20px;
}
.cm-category,  .cm-context{
    color: blue;
    font-size: 20px;
}
.cm-markdownlink{
    color: green;
    background-color: #ddd;
}
.cm-markdowntarget{
    color: blue;
    background-color: #ddd;
}
.logdata {
    background-color: palegoldenrod;
    margin-top: -15px;
    margin-left: 5px;
    z-index: 2;
 }
 .errormessage {
    background-color: palevioletred;
    border: 1px solid black;
    z-index: 2;
    margin-top: -15px;
    margin-left: 5px;
 }
 .gdtContainer {
     display: grid;
     grid-template: "gdt code" 1fr/50% 50%;
 }
.gdtCode {
    grid-area: code;
}
.gdtEditor {
    grid-area: gdt;
}
.breakpoint-gutter {
    width: 0.7em;
}
.arrow-gutter{
width: 0.7em;
}
.breakpoint, .breakdot {

	border-radius: 50%;
	width: 0.5em;
	height: 0.5em;
    
    margin:4px 2px 0px -3px;
    border: 1px solid black;

	/* width and height can be anything, as long as they're equal */
}

.breakpoint {
    background-color: red;
	/* width and height can be anything, as long as they're equal */
}
.breakdot {
	
    background-color: green;
	/* width and height can be anything, as long as they're equal */
}
.arrow {
	width: 0; 
	height: 0; 
	border-bottom: 0.7em solid transparent;  /* left arrow slant */
	border-top: 0.7em solid transparent; /* right arrow slant */
	border-left: 0.7em solid blue; /* bottom, add background color here */
	font-size: 9pt;
	line-height: 0;
}
.lightBlue {
    background-color: lightblue;

}