.CodeMirror {
    height: 600px;
}
.cm-header{
    font-size: 20px;
}
.cm-error{
    font-size: 20px;
}
.cm-category,  .cm-context{
    color: blue;
    font-size: 20px;
}
.cm-markdownlink{
    color: green;
    background-color: #ddd;
}
.cm-markdowntarget{
    color: blue;
    background-color: #ddd;
 ;
}